body{

	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.inp{
	width: 65% !important;
}
#bar-chart{
	
	margin-left: 249px;
	height: 600px !important;
}
.input-group{
	margin: 1em auto;
	max-width: 500px;
}
